<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'angular/styles.css' %}">
    <script src="https://kit.fontawesome.com/4160b224b4.js" crossorigin="anonymous"></script>
    <title>BC COVID-19 Updates</title>
    <base href="/">
</head>
<body>
    <div class="container">
        <h2>Latest BC COVID-19 Update</h2>
        <h4>Date: {{date}}</h4>
        <h3>Number of new cases: {{new_cases}}
            <i class="fa fa-info-circle" title='Note: Data is only available on a business day. New cases on non-business days will be added to the next business day.'
             aria-hidden="true"></i>
        </h3>
        <h5>Last updated: {{timestamp}}</h5>
        <img style='position: relative; top: -22px; margin-right: 0;' src="{% static 'updates/new_cases.png' %}" width="50%">
    </div>
    <app-root></app-root>
	<script type="text/javascript" src="{% static 'angular/runtime.js' %}"></script>
	<script type="text/javascript" src="{% static 'angular/polyfills.js' %}"></script>
	<script type="text/javascript" src="{% static 'angular/main.js' %}"></script>

</body>
</html>